* {
  box-sizing: border-box;
}

/* Header  */

.header {
  margin-bottom: 2rem;
  text-align: center;
}

.header h2 {
  color: rgb(219 39 119);
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 2.25rem;
}

/* Form */

.field {
  display: flex;
  flex-direction: column;
}

.field label {
  display: block;
  font-size: 1rem;
  line-height: 1.25rem;
  color: #374151;
  font-weight: 500;
  order: -1;
}

.field input,
.field textarea {
  display: block;
  margin-top: 0.25rem;
  padding: 0.5rem 1rem;

  border: 1px solid #e5e7eb;
  border-radius: 0.5rem;
}

.field input:focus,
.field textarea:focus {
  outline: 1px solid #f9a8d4;
}

.field .error-msg {
  font-size: 0.875rem;
  font-style: italic;
  align-self: flex-end;
  color: #b91c1c;
}

@media (max-width: 640px) {
  .header h2 {
    font-size: 1.7rem;
    line-height: 2rem;
    letter-spacing: 0.1px;
  }

  .field input,
  .field textarea {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
}
